{% extends "base.html" %}
<div>
  <a href="/">👈 Back </a>
</div>
{% csrf_token %}
{% block heading %}
<h2>{{ subject }} </h2>
{% endblock %}

{% block content %}
<div class='nav-bar'>
  <h1 class='page-title'>Free Online Coding Books</h1>
  <nav>
      <ul class='nav'>
          <li><a class="nav-item" href="{% url 'homepage' %}">Home</a></li>
          {% for book in books %}
          <li ><a class='nav-item' href="{% url 'subject' book.subject.pk %}">{{ book.subject.genre }}</a></li>
          {% endfor %}
      </ul>
  </nav>
</div>

<h1>These are {{ subject.genre }} Books</h1>
<p> {{ subject.about }}</p>
{% endblock %}